<configuration>
	<connectionStrings>
		<add name="LocalSql"
			 connectionString="Server=.\SQLEXPRESS;Database=HospitalNet;Trusted_Connection=True;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient"/>

		<add name="AzureSql"
			 connectionString="Server=tcp:hospitalnet.database.windows.net,1433;Initial Catalog=HospitalNet;User ID=hospitalnet;Password=hospnet_1;Encrypt=True;TrustServerCertificate=False;"
			 providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>

	<appSettings>
		<!-- CHANGE ONLY THIS : Buradaki değere göre Local ya da Azure göre handle edilir -->
		<add key="DbProfile" value="Azure" />
		<!-- Local | Azure -->
	</appSettings>
</configuration>
