<configuration>
	<connectionStrings>
		<add name="LocalSql"
			 connectionString="Server=.\SQLEXPRESS;Database=HospitalNet;Trusted_Connection=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient"/>

		<add name="AzureSql"
			 connectionString="Server=tcp:YOUR_SERVER.database.windows.net,1433;Initial Catalog=HospitalNet;User ID=YOUR_USER;Password=YOUR_PASSWORD;Encrypt=True;TrustServerCertificate=False;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<appSettings>
		<!-- CHANGE ONLY THIS : Buradaki değere göre Local ya da Azure göre handle edilir -->
		<add key="DbProfile" value="Local" />
		<!-- Local | Azure -->
		<!-- Optional: AI report settings for AnalyticsView -->
		<add key="AiBaseUrl" value="https://api.openai.com/v1/" />
		<add key="AiModel" value="gpt-4.1-mini" />
		<add key="AiApiKey" value="***REMOVED***" />
	</appSettings>
</configuration>
