USE [HospitalNet]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDoctorByLicenseNumber]    Script Date: 22/12/2025 23:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_GetDoctorByLicenseNumber]
    @LicenseNumber NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    -- Some databases use dbo.Doctors, others dbo.Doctor.
    IF OBJECT_ID(N'dbo.Doctors', N'U') IS NOT NULL
    BEGIN
        SELECT
            d.DoctorID,
            d.FirstName,
            d.LastName,
            d.Specialization,
            d.LicenseNumber,
            d.PhoneNumber,
            d.Email,
            d.OfficeLocation,
            d.YearsOfExperience,
            d.MaxPatientCapacityPerDay,
            d.Salary,
            d.IsActive,
            d.CreatedDate,
            d.UpdatedDate
        FROM dbo.Doctors AS d
        WHERE d.LicenseNumber = @LicenseNumber;

        RETURN;
    END

    IF OBJECT_ID(N'dbo.Doctor', N'U') IS NOT NULL
    BEGIN
        SELECT
            d.DoctorID,
            d.FirstName,
            d.LastName,
            d.Specialization,
            d.LicenseNumber,
            d.PhoneNumber,
            d.Email,
            d.OfficeLocation,
            d.YearsOfExperience,
            d.MaxPatientCapacityPerDay,
            d.Salary,
            d.IsActive,
            d.CreatedDate,
            d.UpdatedDate
        FROM dbo.Doctor AS d
        WHERE d.LicenseNumber = @LicenseNumber;

        RETURN;
    END

END
